
.Catelog_Items {
display: flex;
width: 80%;
margin: auto;
justify-content: center;
gap: 1.7em;
margin-top: 1.7em;
margin-bottom: 1.1em;
flex-wrap: nowrap;
overflow: hidden;
}

.Catelog_ItemsScnd {
margin-top: 4.7em;
}

.Catelog_Items img {
width: 121px;
height: 121px;
border: 1px solid #DCDCDC;
border-radius: 50%;
cursor: pointer;
}

.Catelog_Items div {
line-height: 2.3em;
text-align: center;
flex-shrink: 0;
}

.Catelog_Items h4{
color: #000;
}

.password-field {
position: relative;
display: flex;
align-items: center;
}

.password-field input {
width: 100%;
padding-right: 30px; 
}

.eye-icon {
position: absolute;
right: 10px;
cursor: pointer;
user-select: none;
}

.seeLLProducts {
padding: 11px 17px;
margin-bottom: 3.1em;
color: #100424;
font-weight: 600;
border: none;
transition: all 0.3s ease-in-out;
cursor: pointer;
font-weight: normal;
font-size: 1.1rem;
border-bottom: 1px solid #100424;
background-color:#ffffff;
}

.tshirt_Left {
margin-top: 1.7em;
margin-bottom: 1.3em;
transform: translateX(-8.74%);
}

.img_bannerOne {
margin-top: 2.7em;
}

.Icon_ItemsHome {
display: flex;
justify-content: center;
gap: 1.3em;
overflow-x: auto;
scroll-snap-type: x mandatory;
cursor: grab;
user-select: none;
width: 90%;
padding-bottom : .3em;
margin: auto;
box-sizing: border-box;
}

.Icon_ItemsHome div {
display: flex;
align-items: center;
scroll-snap-align: start;
background: #fff;
padding: 13px;
padding-right: 47px;
text-align: start;
gap: 1.3em;
line-height: 1.9em;
border-radius: 27px;
margin-top: 4.3em;
box-shadow: 0 0 10px rgba(15, 13, 13, 0.119);
}

.Icon_ItemsHome::-webkit-scrollbar {
display: none;
}

.grabbing {
cursor: grabbing;
}

.Icon_ItemsHome img {
width: 57px;
height: 57px;
border-radius: 50%;
margin-right: -0.7em;
}

.Icon_ItemsHome h4 {
font-weight: bold;
}

.whatsapp_message {
position: fixed;
width: 57px;
height: 57px;
bottom: 3.1em;
right: 41px;
border-radius: 50%;
cursor: pointer;
z-index: 9999;
}

.Secure_ordering {
width: 100%;
line-height: 2.1em;
margin: auto;
box-sizing: border-box;
border-radius: 13px;
margin-top: 1.7em;
margin-bottom: 4.3em;
}

.Secure_ordering h2 {
margin-bottom: .9em;
}

.Secure_ordering img {
width: 100%;
height: auto;
margin-top: 2.1em;
}

.Secure_ordering p {
padding: 1.5em;
}

.cake_banner_wrapper {
position: relative;
width: 100%;
height: 70vh;
overflow: hidden;
}

.Cakebanner {
width: 100%;
object-fit: cover;
}

.cake_content {
position: absolute;
top: 50%;
left: 8%;
transform: translateY(-50%);
z-index: 2;
color: #fff;
max-width: 500px;
line-height: 2em;
}

.cake_content h1 {
font-size: 3rem;
margin-bottom: 10px;
}

.cake_content p {
font-size: 1.2rem;
margin-bottom: 20px;
}

.cake_content button {
padding: 17px 35px;
border: none;
background: #fff;
color: #000;
border-radius: 25px;
cursor: pointer;
transition: 0.3s;
}

.cake_content button:hover {
background: #f2f2f2;
}


.Cakebanner {
width: 100%;
object-fit: contain;
}

.cake_banner_wrapper {
position: relative;
width: 100%;
height: 70vh;
text-align: start;
overflow: hidden;
}

.Cakebanner {
width: 100%;
height: 100%;
object-fit: cover;
object-position: 75% center;
display: block;
}

.cake_overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(16, 12, 12, 0.4);
z-index: 1;
}

.cake_content {
position: absolute;
top: 50%;
left: 8%;
line-height: 3.2em;
transform: translateY(-50%);
z-index: 2;
color: #fff;
max-width: 500px;
}

.cake_content h1 {
font-size: 3rem;
margin-bottom: 10px;
color: #fff;
}

.cake_content p {
font-size: 1.2rem;
margin-bottom: 20px;
}

.cake_content button {
padding: 17px 32px;
border: none;
background: #fff;
color: #000;
border-radius: 25px;
cursor: pointer;
transition: 0.3s;
}

.cake_content button:hover {
background: #f2f2f2;
}


@media (max-width: 768px) {

.cake_banner_wrapper {
height: 55vh;
}

.cake_content {
left: 5%;
right: 5%;
text-align: center;
}

.cake_content h1 {
font-size: 2rem;
}

.cake_content p {
font-size: 1rem;
}

}



.subscribe_k {
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
margin-top: 8.7em;
margin-bottom: -3.5em;
width: 75%;
padding: 21px 21px 11px 27px;
position: relative;
border: 0.5px solid #edebeb;
background-color: #fff;
border-radius: 57px;
}

.subscribe_k h2 {
text-align: start;
}

.subscribe_k img {
width: 34px;
margin-right: 1.1em;
}

.subscribe_k button {
background-color: #48ba48;
color: #FFFFFF;
width: 135px;
height: 43px;
border-radius: 43px;
border: none;
margin-left: -4.7em;
margin-top: 0.2em;
}

.subscribe_k input {
width: 317px;
border: none;
border: 1px solid #DCDCDC;
border-radius: 27px;
outline: none;
border: none;
height: 48px;
padding-left: 21px;
}

.subscribe_flx {
display: flex;
gap: 0.7em;
line-height: 2.2em;
text-align: start;
}


.success_message {
color:#ff0000;
margin-bottom: .5em;
}

.subscribe_flx button {
cursor: pointer;
}

.subscribe_flx input {
border: 0.5px solid #dcdcdc;
}


@media (max-width: 768px) {

.success_message {
margin-top: 0em;
}

.subscribe_k {
width: 93%;
padding: 0;
padding: 17px 21px 17px 31px;
border-radius: 37px;
flex-direction: column;
position: relative;
}

.subscribe_k input {
width: 100%;
padding-left: 17px;
}

.Catelog_Items {
display: flex;
width: 95%;
gap: 0.5em;
overflow-x: auto;
scroll-behavior: smooth;
cursor: grab;
justify-content: flex-start;
margin-top: 3.5em;
margin-bottom: 2.7em;
}

.Catelog_Items img {
width: 83px;
height: 83px;
border: 1px solid #DCDCDC;
border-radius: 50%;
}

.Catelog_Items h4 {
font-size: 0.8rem;
}

.Catelog_Items::-webkit-scrollbar {
display: none;
}

.tshirt_Left {
width: 100%;
margin-top: 3.3em;
transform: translateX(0%);
}

.Icon_ItemsHome {
padding: 0em;
display: flex;
justify-content: start;
gap: .7em;
width: 90%;
overflow-x: auto;
scroll-snap-type: x mandatory;
}

.Icon_ItemsHome p{
width: 165px;
font-size: .8rem;
}

.Icon_ItemsHome div {
box-shadow: 0 0 10px rgba(26, 7, 7, 0.1);
border-radius: 7px;
margin-bottom: .7em;
padding: 5px;
gap: 1.3em;
}

.Secure_ordering {
width: 100%;
padding: 0;
margin-top: 3.5em;
margin-bottom: 3.1em;
}

.Secure_ordering img {
width: 100%;
}

.Secure_ordering h2 {
font-size: 1.3rem;
}

.Cakebanner{
height: 80vh;
object-fit: cover;
}

.img_bannerOne {
width: 100%;
height: 71px;
margin-top: 1.7em;
}

.whatsapp_message {
width: 50px;
height: 50px;
margin-left: -.9em;
margin-bottom: -.7em;
}

}



@media (min-width: 768px) and (max-width: 1519px) {

.subscribe_k {
width: 81%;
padding: 13px 27px 13px 37px;
border-radius: 57px;
}

.subscribe_k input {
width: 100%;
padding-left: 17px;
}

.Catelog_Items h4 {
font-size: 0.8rem;
}

.Catelog_Items img {
width: 107px;
height: 107px;
}

.Catelog_Items {
display: flex;
overflow-x: auto;
gap: 1.7em;
width: 85%;
margin: auto;
margin-top: 3.7em;
margin-bottom: 2.7em;
scroll-behavior: smooth;
justify-content: flex-start;
cursor: grab;
}

.Catelog_Items::-webkit-scrollbar {
display: none;
}

.tshirt_Left {
width: 100%;
transform: translateX(0%);
}

.tshirt_Left .flex_productlist {
width: 100%;
transform: translateX(0%);
gap: 0.4em;
}

.Icon_ItemsHome {
display: flex;
justify-content: start;
white-space: nowrap;
gap: 0.7em;
padding: 0em;
overflow-x: auto;
scroll-snap-type: x mandatory;
}

.Icon_ItemsHome div {
margin-bottom: .7em;
}

}
